<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
<h3>creating portfolio</h3>

  <form action="logged" method="POST" enctype="multipart/form-data">
    <label for="add work here"><br />add work here:</label>
    <input type="file" name="avatar">
    <label for=""><br /></label>

<input type="submit" value="submit work">
    </form>





  <form action="logged2" method="POST" enctype="multipart/form-data">
  <label><b>Name:</b></label>
  <input type="text" placeholder="Enter name" name="portName" required>

  <label><b>type all links here:</b></label>
  <input type="text" placeholder="Enter Link" name="Link" >
  <label for=""><br /></label>
    <label for="add profile pic"><br />add profile pic:</label>
    <input type="file" name="avatar">
    <label for=""><br /></label>

    <input type="submit" value="submit portfolio">
  </form>
</body>
</html>
