<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>upload</title>
</head>
<body>
<h3>adding work </h3>

  <form action="/work" method="POST" enctype="multipart/form-data">
    <label for="add work"><br />add work <label>
    <input type="file" name="avatar">
    <label for=""><br /></label>

    <input type="submit" value="submit">
  </form>
</body>
</html>
